* {
    margin: 0;
}

body * {
    margin: auto;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    color: white;
    border-radius: 5px;
}

body {
    position: relative;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    margin-top: 5px;
}

#arena {
    display: grid;
    width: 720px;
    height: 720px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    margin: 1%;
    background-image: url(./images/V1_pokemon_style_arena_e39f401e-c2e0-4455-9bf9-29ed226e5770.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.side {
    display: block;
    width: 100%;
    height: 360px;
}

#sidebar {
    flex-direction: column;
    align-items: top;
    height: 90%;
    margin: 1%;
}

#scoreboard{
    margin: 5%;
    flex-direction: row;
    width: 80%;
    background-color: red;
    padding: 5%;
    border-radius: 10px;
}

#weapon_selection {
    background-color: #e5e5f7;
}

.weapons {
    position: relative;
    width: 100%;
    height: 100%;
}

.weapons > button {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 100%;
    border: none;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.weapons > button:hover {
    transform: scale(1.1);
}

#computerchoiceone {
    bottom: 14%;
    left: 21%;
    background-image: url(./images/fire_one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#computerchoicetwo {
    bottom: 32%;
    left: 45%;
    background-image: url(./images/water_one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#computerchoicethree {
    bottom: 14%;
    right: 21%;
    background-image: url(./images/grass_one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerchoiceone {
    left: 21%;
    background-image: url(./images/water_two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerchoicetwo {
    top: 26%;
    left: 45%;
    background-image: url(./images/grass_two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerchoicethree {
    right: 21%;
    background-image: url(./images/fire_two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selected {
    width: 100%
    border-radius: 0px;
}


#player {
    /* background-color: rgba(255, 99, 71, 0.3); */
}

#computer {
    /* background-color: rgba(255, 165, 0, 0.3); */
}