* {
    margin: 0;
}

body * {
    margin: 0;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
}

h2 {
    margin-top: 20px;
}

#rockpaperscissors {
    background-color: #1b9aaa;
    align-items: center;
    justify-content: center;
}

#playbutton {
    background-color: #06d6a0;
    width: 20vw;
    height: 10vh;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#playbutton:hover {
    background-color: #29f9c1;
}

#scoreboard{
    margin: 50px;
    flex-direction: row;
    width: 30vw;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}

#weapon_selection {
    background-color: #e5e5f7;
}

#weapons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    padding: 3% 0% 3%;
}

#weapons > button {
    width: 10%;
    height: 80%; 
    border-radius: 10px;
    border: none;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#weapons > button:hover {
    background-color: antiquewhite;
}

#game {
    flex-direction: row;
    height: 100%;
}

.hand {
    height: 100%;
}

#player {
    background-color: #f8ffe5;
}

#computer {
    background-color: #ffc43d;
}